<!-- src/footer/footer.component.html -->
<div class="footer">
  <a
    href="https://www.instagram.com/mackenzieschaeffer_photography/"
    target="_blank"
    ><fa-icon size="2x" [icon]="faInstagram"></fa-icon
  ></a>
  <a
    href="https://www.facebook.com/Mackezieschaeffer.photography"
    target="_blank"
    ><fa-icon size="2x" [icon]="faFacebookF"></fa-icon
  ></a>
  <a href="https://www.pinterest.com/mackenzieschaeffer/_saved/" target="_blank"
    ><fa-icon size="2x" [icon]="faPinterest"></fa-icon
  ></a>
</div>
