<!-- src/home/home.component.html -->
<div class="hook">Capturing love, life and everything in between ♡</div>
<div class="highlight-photo">
  <img src="../../assets/images/0S1A1940.jpg" alt="Savannah Wedding" />
</div>
<div class="image-slider">
  <msp-image-slider></msp-image-slider>
</div>
<div class="about-me">
  <div class="greeting">
    <p>Hello!</p>
    <p>
      Originally from small town Iowa, Mackenzie made her way to Savannah
      Georgia to attend Savannah College of Art and Design.
    </p>
    <p>
      Since graduating in 2018, with a Bachelors degree in Photography,
      Mackenzie decided to plant her roots and stay in the beautiful low country
      of Savannah.
    </p>
    <p>
      If it’s taking photos of your family, celebrating a graduation, or
      photographing your big day, Mackenzie is here to authentically capture
      your most prized moments!
    </p>
    <p>
      All inquiries can be filled out
      <span><a class="sentence-link" routerLink="contact">here.</a></span>
    </p>
  </div>
  <div class="personal-photo">
    <img src="../../assets/images/IMG_1175.jpeg" alt="Mackenzie Schaeffer" />
  </div>
</div>
